allow init servicemanager:binder { call transfer };
allow init system_server:binder { call transfer };

allow init settings_service:service_manager find;

# wifi_reset.sh
allow init wifi_reset_exec:file execute;
