# /system/bin/wifi_reset.sh
type wifi_reset, domain;
type wifi_reset_exec, exec_type, file_type, system_file_type;

init_daemon_domain(wifi_reset)
binder_use(wifi_reset)

allow wifi_reset settings_service:service_manager find;

allow wifi_reset system_server:binder {call transfer};

allow wifi_reset wifi_service:service_manager find;

# neverallow - to read #!/system/bin/sh
allow wifi_reset shell_exec:file rx_file_perms;

# neverallow - read/open & execute_no_trans on /system/bin/settings
allow wifi_reset system_file:file {r_file_perms execute execute_no_trans};
