<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.lineageos.settings.device"
      android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CONTROL_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="30" />

    <protected-broadcast android:name="com.lineage.devicesettings.UPDATE_POWER" />

    <application
        android:label="@string/device_settings_app_name"
        android:icon="@mipmap/ic_launcher"
        android:banner="@mipmap/ic_banner"
        android:persistent="true">

        <service android:name=".DockService"
            android:enabled="true"/>

        <receiver android:name=".BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".DeviceSettingsSearchIndexablesProvider"
            android:authorities="org.lineageos.settings.device"
            android:multiprocess="false"
            android:grantUriPermissions="true"
            android:permission="android.permission.READ_SEARCH_INDEXABLES"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER" />
            </intent-filter>
        </provider>

        <activity
            android:name=".DisplaySettingsActivity"
            android:label="@string/display_panel_title"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/display_panel_summary" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_additional_buttons" />
        </activity>
    </application>
</manifest>
